dify-workflows/analysis-summary.workflow.yml
app:
  description: 分析模块汇总执行工作流。输入后端分块素材与可选 Schema，输出最终汇总 JSON 或文本。
  icon: 🧠
  icon_background: '#EAF7F2'
  mode: workflow
  name: 分析汇总执行
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 2000000000301-source-2000000000302-target
      source: '2000000000301'
      sourceHandle: source
      target: '2000000000302'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 2000000000302-source-2000000000303-target
      source: '2000000000302'
      sourceHandle: source
      target: '2000000000303'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 2000000000303-source-2000000000304-target
      source: '2000000000303'
      sourceHandle: source
      target: '2000000000304'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: summary
          hint: ''
          label: 任务类型
          max_length: 40
          options: []
          placeholder: summary
          required: true
          type: text-input
          variable: task_type
        - default: ''
          hint: ''
          label: 指令Prompt
          max_length: 50000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: prompt
        - default: ''
          hint: ''
          label: 模型名
          max_length: 120
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: model
        - default: ''
          hint: ''
          label: 推理强度
          max_length: 40
          options: []
          placeholder: low/medium/high
          required: false
          type: text-input
          variable: reasoning_effort
        - default: ''
          hint: ''
          label: Schema名称
          max_length: 120
          options: []
          placeholder: custom_final_analysis
          required: false
          type: text-input
          variable: schema_name
        - default: ''
          hint: ''
          label: Schema JSON
          max_length: 200000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: schema_json
        - default: 'true'
          hint: ''
          label: 严格Schema
          max_length: 16
          options: []
          placeholder: true/false
          required: false
          type: text-input
          variable: strict_json_schema
        - default: ''
          hint: ''
          label: 最大输出Token
          max_length: 40
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: max_output_tokens
        - default: ''
          hint: ''
          label: 上下文JSON
          max_length: 200000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: context_json
      height: 372
      id: '2000000000301'
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 300
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: analysis-summary-system
          role: system
          text: |
            你是小说分析汇总引擎。
            如果用户给出了 Schema JSON，必须严格按 Schema 输出；
            如果 Schema 为空，则按用户要求输出纯文本。
            不要输出 Markdown，不要附加解释。
        - id: analysis-summary-user
          role: user
          text: |
            任务类型：{{#2000000000301.task_type#}}
            指令：
            {{#2000000000301.prompt#}}

            Schema名称：{{#2000000000301.schema_name#}}
            Schema JSON：
            {{#2000000000301.schema_json#}}

            严格Schema：{{#2000000000301.strict_json_schema#}}
            最大输出Token：{{#2000000000301.max_output_tokens#}}
            推理强度：{{#2000000000301.reasoning_effort#}}
            期望模型：{{#2000000000301.model#}}

            汇总上下文：
            {{#2000000000301.context_json#}}
        selected: false
        title: 生成汇总结果
        type: llm
        vision:
          enabled: false
      height: 92
      id: '2000000000302'
      position:
        x: 460
        y: 300
      positionAbsolute:
        x: 460
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        code: |
          def main(text: str):
              import json
              import re

              raw = (text or "").strip()
              fenced = re.sub(r"^```(?:json)?", "", raw).strip()
              fenced = re.sub(r"```$", "", fenced).strip()

              try:
                  parsed = json.loads(fenced)
                  return {"result": json.dumps(parsed, ensure_ascii=False)}
              except Exception:
                  return {"result": fenced}
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 规范输出
        type: code
        variables:
        - value_selector:
          - '2000000000302'
          - text
          value_type: string
          variable: text
      height: 52
      id: '2000000000303'
      position:
        x: 800
        y: 300
      positionAbsolute:
        x: 800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        outputs:
        - value_selector:
          - '2000000000303'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '2000000000304'
      position:
        x: 1140
        y: 300
      positionAbsolute:
        x: 1140
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    viewport:
      x: 120
      y: 160
      zoom: 0.55
  rag_pipeline_variables: []
