dify-workflows/analysis-chapter.workflow.yml
app:
  description: 分析模块分章执行工作流。输入后端拼装的分章上下文与 JSON Schema，输出单章结构化结果。
  icon: 🧩
  icon_background: '#EAF7F2'
  mode: workflow
  name: 分析分章执行
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 2000000000201-source-2000000000202-target
      source: '2000000000201'
      sourceHandle: source
      target: '2000000000202'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 2000000000202-source-2000000000203-target
      source: '2000000000202'
      sourceHandle: source
      target: '2000000000203'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 2000000000203-source-2000000000204-target
      source: '2000000000203'
      sourceHandle: source
      target: '2000000000204'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: chapter
          hint: ''
          label: 任务类型
          max_length: 40
          options: []
          placeholder: chapter
          required: true
          type: text-input
          variable: task_type
        - default: ''
          hint: ''
          label: 指令Prompt
          max_length: 50000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: prompt
        - default: ''
          hint: ''
          label: 模型名
          max_length: 120
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: model
        - default: ''
          hint: ''
          label: 推理强度
          max_length: 40
          options: []
          placeholder: low/medium/high
          required: false
          type: text-input
          variable: reasoning_effort
        - default: ''
          hint: ''
          label: Schema名称
          max_length: 120
          options: []
          placeholder: chapter_result
          required: true
          type: text-input
          variable: schema_name
        - default: ''
          hint: ''
          label: Schema JSON
          max_length: 200000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: schema_json
        - default: 'true'
          hint: ''
          label: 严格Schema
          max_length: 16
          options: []
          placeholder: true/false
          required: false
          type: text-input
          variable: strict_json_schema
        - default: ''
          hint: ''
          label: 最大输出Token
          max_length: 40
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: max_output_tokens
        - default: ''
          hint: ''
          label: 上下文JSON
          max_length: 200000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: context_json
      height: 372
      id: '2000000000201'
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 300
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: analysis-chapter-system
          role: system
          text: |
            你是小说分析分章执行引擎。请严格按照用户给出的 Schema 输出 JSON。
            只输出合法 JSON，不要 Markdown，不要解释文字，不要输出多余字段。
        - id: analysis-chapter-user
          role: user
          text: |
            任务类型：{{#2000000000201.task_type#}}
            指令：
            {{#2000000000201.prompt#}}

            Schema名称：{{#2000000000201.schema_name#}}
            Schema JSON：
            {{#2000000000201.schema_json#}}

            严格Schema：{{#2000000000201.strict_json_schema#}}
            最大输出Token：{{#2000000000201.max_output_tokens#}}
            推理强度：{{#2000000000201.reasoning_effort#}}
            期望模型：{{#2000000000201.model#}}

            分章上下文：
            {{#2000000000201.context_json#}}
        selected: false
        title: 生成分章结果
        type: llm
        vision:
          enabled: false
      height: 92
      id: '2000000000202'
      position:
        x: 460
        y: 300
      positionAbsolute:
        x: 460
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        code: |
          def main(text: str):
              import json
              import re

              raw = (text or "").strip()
              raw = re.sub(r"^```(?:json)?", "", raw).strip()
              raw = re.sub(r"```$", "", raw).strip()

              try:
                  parsed = json.loads(raw)
                  return {"result": json.dumps(parsed, ensure_ascii=False)}
              except Exception:
                  return {"result": raw}
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 规范输出
        type: code
        variables:
        - value_selector:
          - '2000000000202'
          - text
          value_type: string
          variable: text
      height: 52
      id: '2000000000203'
      position:
        x: 800
        y: 300
      positionAbsolute:
        x: 800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        outputs:
        - value_selector:
          - '2000000000203'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '2000000000204'
      position:
        x: 1140
        y: 300
      positionAbsolute:
        x: 1140
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    viewport:
      x: 120
      y: 160
      zoom: 0.55
  rag_pipeline_variables: []
