dify-workflows/l2-fact-index.workflow.yml
app:
  description: L2 事实索引工作流。输入单章文本、L1路由和索引规则，输出 facts JSON。
  icon: 📚
  icon_background: '#EAF7F2'
  mode: workflow
  name: L2 事实索引
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 2000000000101-source-2000000000102-target
      source: '2000000000101'
      sourceHandle: source
      target: '2000000000102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 2000000000102-source-2000000000103-target
      source: '2000000000102'
      sourceHandle: source
      target: '2000000000103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 2000000000103-source-2000000000104-target
      source: '2000000000103'
      sourceHandle: source
      target: '2000000000104'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 书籍ID
          max_length: 64
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: book_id
        - default: ''
          hint: ''
          label: 索引组Key
          max_length: 64
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: index_group_key
        - default: ''
          hint: ''
          label: 章节号
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: chapter_index
        - default: ''
          hint: ''
          label: 章节标题
          max_length: 200
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: chapter_title
        - default: ''
          hint: ''
          label: 章节正文
          max_length: 200000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: chapter_content
        - default: ''
          hint: ''
          label: L1路由JSON
          max_length: 50000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: l1_route_json
        - default: ''
          hint: ''
          label: 索引规则Prompt
          max_length: 50000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: index_prompt
        - default: '[]'
          hint: ''
          label: 已确认神奇生物主体JSON
          max_length: 50000
          options: []
          placeholder: '[]'
          required: false
          type: paragraph
          variable: known_subjects_json
      height: 258
      id: '2000000000101'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: l2-system
          role: system
          text: |
            你是小说 L2 类型化事实索引引擎。仅基于当前章节原文和 L1 路由辅助信息输出 JSON。
            输出必须符合以下结构（字段不可缺失）：
            {
              "facts": [
                {
                  "category": "string，必须遵循索引规则指定的类别，可使用 magical_creature",
                  "entity": "string",
                  "aliases": ["string"],
                  "tags": ["string"],
                  "related_entities": ["string"],
                  "fact_type": "string",
                  "fact": "string",
                  "evidence": ["string"],
                  "importance": 0.0,
                  "confidence": 0.0,
                  "scope_eligible": true,
                  "scope_basis": "string",
                  "transformation_eligible": false,
                  "creature_type": "string",
                  "original_form": "string",
                  "qualification_evidence": ["string"],
                  "subject_key": "string",
                  "identity_basis": "current_chapter"
                }
              ]
            }
            当索引规则要求严格专项准入时，scope_eligible 只有在该对象明确符合专项范围时才为 true；scope_basis 必须填写原文可直接支持的资格依据。若无法确认资格，不要输出该 fact。
            每条 fact 都必须完整输出以下字段，禁止省略或使用 null：category、entity、aliases、tags、related_entities、fact_type、fact、evidence、importance、confidence、scope_eligible、scope_basis、transformation_eligible、creature_type、original_form、qualification_evidence、subject_key、identity_basis。
            即使是候选事实，也必须完整输出全部字段；候选事实使用 scope_eligible=false、scope_basis=""、fact_type="identity_clue"，不能省略准入字段。
            只输出 JSON，不要 Markdown，不要解释文字。
        - id: l2-user
          role: user
          text: |
            书籍ID：{{#2000000000101.book_id#}}
            索引组：{{#2000000000101.index_group_key#}}
            章节号：{{#2000000000101.chapter_index#}}
            章节标题：{{#2000000000101.chapter_title#}}

            索引规则：
            {{#2000000000101.index_prompt#}}

            L1 路由 JSON：
            {{#2000000000101.l1_route_json#}}

            已确认的神奇生物主体 JSON（如果有）：
            {{#2000000000101.known_subjects_json#}}

            章节正文：
            {{#2000000000101.chapter_content#}}
        selected: false
        title: 生成L2事实
        type: llm
        vision:
          enabled: false
      height: 92
      id: '2000000000102'
      position:
        x: 460
        y: 300
      positionAbsolute:
        x: 460
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        code: |
          def main(text: str, chapter_index: int, chapter_title: str):
              import json
              import re

              raw = (text or "").strip()
              raw = re.sub(r"^```(?:json)?", "", raw).strip()
              raw = re.sub(r"```$", "", raw).strip()

              try:
                  parsed = json.loads(raw)
                  if not isinstance(parsed, dict) or not isinstance(parsed.get("facts"), list):
                      return {"result": raw}
                  result = {
                      "chapter_index": int(chapter_index),
                      "chapter_title": chapter_title or "",
                      "facts": parsed.get("facts"),
                  }
                  return {"result": json.dumps(result, ensure_ascii=False)}
              except Exception:
                  return {"result": raw}
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 规范输出
        type: code
        variables:
        - value_selector:
          - '2000000000102'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '2000000000101'
          - chapter_index
          value_type: number
          variable: chapter_index
        - value_selector:
          - '2000000000101'
          - chapter_title
          value_type: string
          variable: chapter_title
      height: 52
      id: '2000000000103'
      position:
        x: 800
        y: 300
      positionAbsolute:
        x: 800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        outputs:
        - value_selector:
          - '2000000000103'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '2000000000104'
      position:
        x: 1140
        y: 300
      positionAbsolute:
        x: 1140
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    viewport:
      x: 120
      y: 180
      zoom: 0.6
  rag_pipeline_variables: []
